.mnemonic {
    -fx-fill: #3509d6;
    /*-fx-fill: #171a62;*/
    -fx-font-weight: bold;
}

.operator {
    -fx-fill: #d66a09;
}

.comment {
    -fx-fill: #626262;
}

.memory-label {
    -fx-font-weight: bold;
}

.error {
    -fx-fill: #e83542 !important;
}


.directive {
    -fx-font-style: italic;
}

.lineno {
    -fx-background-color: transparent;
}

/*.paragraph-box:has-caret {
    -fx-background-color: #f6f6f6;
}*/